/**
 * @Author: @IamRezaMousavi
 * @Date:   2023-02-14 16:09:51
 * @Last Modified by:   @IamRezaMousavi
 * @Last Modified time: 2023-02-14 16:16:19
 */
li a {
    color: green;
}

body {
    background-image: url("images/background.jpg");
}
